* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.heading{
  padding:10px;
}
.paragraph{
  padding:10px;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
}
.cell{
  /*border-style: solid;*/
  flex-grow:1;
  flex-basis:100%;
}


/*  MAIN TEMPLATE   */
#main-template{
  height:100vh;
  background-image:url('/static/images/1.jpg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  background-size:cover;
}
#main{
  /*flex-basis:65%;*/
  flex-basis:100%;
}

/*      HEADER BTNs     */
.header-btn{
  margin:10% 10% 10% 10%;
  width:80%;
  display:inline-block;
  position:static;
  height:40px;
  border-radius:50px 50px 50px 50px;
  border:0px solid black;
  font-size:16px;
  background-color:#fff;
}
.header-btn:hover{
  background-color:#eee;
}
.header-btn:active{
  background-color:#ddd;
}
.header-btn-active{
  margin:10% 10% 10% 10%;
  width:80%;
  display:inline-block;
  position:static;
  height:40px;
  border-radius:50px 50px 50px 50px;
  border:0px solid black;
  font-size:16px;
  background-color:#ADDFFF;
}
.header-btn-active:hover{
  background-color:#82CAFF;
}
.header-btn-active:active{
  background-color:#3BB9FF;
}
.header-btn-tasks{
  margin:10% 10% 10% 0;
  width:80%;
  display:inline-block;
  position:static;
  height:40px;
  border-radius:0px 50px 50px 0px;
  border:0px solid black;
  font-size:16px;
  background-color:#fff;
}
.header-btn-tasks:hover{
  background-color:#eee;
}
.header-btn-tasks:active{
  background-color:#ddd;
}
.header-btn-circle{
  margin:10% 10% 10% 10%;
  display:inline-block;
  position:relative;
  float:left;
  right:50%;
  height:40px;
  width:40px;
  border-radius:100% 100% 100% 100%;
  border:0px solid black;
  font-size:16px;
}
.task-done{
  text-decoration: line-through #888;
  color:#888;
}
.task{
  text-decoration: none;
  color:#fff;
}


/*      SIDE BARS       */
.sideNavLeft{
  position: absolute;
  display: none;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  height:100vh;
  width:100%;

  background-color: #111;
  opacity:0.7;
}
#left{
  flex-basis:0%;
  position:relative;
}
.left-nav{
    padding-top:10vh;
}
.left-nav-content{
  padding:5% 0 5% 15%;
  text-align:left;
  color:#fff;
  font-family:Courier New, Courier;
  font-size:20px;
  font-weight:600;
}
.left-nav-title{
  padding:5% 0 5% 15%;
  text-align:left;
  color:#fff;
  font-family:Courier New, Courier;
  font-size:32px;
  font-weight:800;
  text-decoration:underline
}
.sideNavLeft a{
  text-decoration: none;
}
.left-nav-hr{
    padding:5%;
}
@keyframes leftToggleOff2 {
  from {flex-basis: 20%;}
  to {flex-basis: 0;}
}
@keyframes leftToggleOn2 {
  from {flex-basis: 0%;}
  to {flex-basis: 20%;}
}


/*      RIGHT SIDE NAV      */
.sideNavRight{
  position: absolute;
  display: none;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  height:100vh;
  width:100%;

  background-color: #111;
  opacity:0.7;
}
@keyframes rightToggleOff2 {
  from {flex-basis: 20%;}
  to {flex-basis: 0;}
}
@keyframes rightToggleOn2 {
  from {flex-basis: 0;}
  to {flex-basis: 20%;}
}
#right{
  position:relative;
  flex-basis:0%;
}
.right-nav{
    padding-top:10vh;
}
.right-nav-content{
  padding:5% 0 5% 15%;
  text-align:left;
  color:#fff;
  font-family:Courier New, Courier;
  font-size:20px;
  font-weight:600;

}
.right-nav-content:hover{
  background:#111;
}
.right-nav-content:active{
  background:#000;
}
.sideNavRight a{
  text-decoration: none;
}
.right-nav-hr{
    padding:5%;
}


/*  COUNTDOWN    */
#countdown{
    display: table;
    margin: 30vh auto 0 auto;
    font-size:200px;
    color:#FFF;
    font-family:Courier New, Courier, monospace;
    font-weight:200;
}

/*  CONTROLS    */
.control-btn-circle{
  margin:0 30px 0 30px;
  display:inline-block;
  position:relative;
  float:left;
  top:10vh;
  height:40px;
  width:40px;
  border-radius:100% 100% 100% 100%;
  border:0px solid black;
  font-size:16px;
  opacity:0.8;
}
.control-btn{
  margin:0 30px 0 30px;
  display:inline-block;
  position:relative;
  float:left;
  top:10vh;
  height:40px;
  width:200px;
  border-radius:50px 50px 50px 50px;
  border:0px solid black;
  font-size:16px;
  opacity:0.8;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display: block;}



/*      SECOND TEMPLATE     */
#second-template{
  height:100vh;
  background-image:linear-gradient(#e64d4d,#e64d4d);
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
#img{
  /* SOURCE https://www.seekpng.com/ipng/u2t4o0a9a9r5e6w7_guacamole-apple-tomato-vegetable-clip-art-cartoon-tomato/ */
  /*background-image:url('https://www.seekpng.com/png/full/897-8974652_guacamole-png.png');*/

  padding-right: 5vh;
  padding-left: 5vh;

  background-image:url('/static/images/tomato-cartoon.png'), url('/static/images/tomato-cartoon.png');
  background-repeat:no-repeat;
  background-position:left 20%, right 60%;
  background-origin: content-box;
}
#second-template-div{
  position:static;
  flex-basis:60%;
  margin:0 20% 0 20%;
}
#second-template-div h1{
  color:white;
  font-family:Courier New, Courier, monospace;
}
#second-template-div h1::after{
  content: "→";
  color:fff;
}
#second-template-div p{
  color:#fff;
  font-family:Courier New, Courier, monospace;
  font-weight:400;
}

@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
}








/*      login div       */

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], input[type=url]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-btn {
  background-color: #ADDFFF;
  color: #000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  opacity: 0.8;
}


/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.input-title {
    padding-left:10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  font-family:Courier New, Courier;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: -5px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #EE0000;
  cursor: pointer;
}

.form-title{
  position: absolute;
  left: 20px;
  top: auto;
  color: #000;
  font-size: 24px;
}
.psw-container {
  position: relative;
}
.pswd{
  position: absolute;
  right: 10px;
  top: auto;
}
.pswd a{
  color:#ADDFFF;
}
.pswd a:visited{
  color:#ADDFFF;
}
.pswd a:hover{
  cursor:pointer;
}
.title-row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  height:30px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

