{% extends 'base.html' %}
{% block title %}Sing Up - {% endblock %}
{% block content %}
<div class="formcontent">
  <div id="iw5nr">Sing Up
    <br/>
  </div>
  <form class="form" method="post">
    <div class="form-group">
      <label class="label" id="ibwxj">Username</label>
      <input placeholder="Type here your name" class="input" id="name" name="name"/>
    </div>
    <div class="form-group">
      <label class="label" id="i5ozi">Password</label>
      <input type="password" placeholder="Type here your password" class="input" name="password1" id="password"/>
      <label class="label" id="ip39j">Password (confirm)</label>
      <input type="password" placeholder="Confirm your Password" class="input" name="password2" id="password"/>
    </div>
    <div class="form-group">
      <button type="submit" class="button">Create Account</button>
    </div>
  </form>
  <div class="row" style="padding-left:5%;">
    <div class="cell" style="padding-left:0%;">
      <a href="/login"><button class="button" style="background-color:#888;">I already have account (login)</button></a>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
</div>
{% endblock %}